@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

/*  font-family: 'Rubik', sans-serif; */

:root {
  /*  Primary  */
  --softBlue: hsl(231, 69%, 60%);
  --softRed: hsl(0, 94%, 66%);

  /*  Neutral  */
  --grayishBlue: hsl(229, 8%, 60%);
  --veryDarkBlue: hsl(229, 31%, 21%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

/*  HEADER  */

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 200px;
}

.nav-links {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links > li > a {
  color: var(--veryDarkBlue);
  margin: 0 25px;
}

.nav-links > li > a:hover {
  color: var(--softRed);
}

.login-btn {
  color: white;
  background-color: var(--softRed);
  padding: 10px 30px;
  margin-left: 20px;
  border: 2px solid transparent; /* prevents hover state movement */
  border-radius: 5px;
}

.login-btn:hover {
  color: var(--softRed);
  background-color: white;
  border: 2px solid var(--softRed);
}

/*  Section 1  */

.main-intro-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 70px;
}

.intro-text {
  padding: 85px 0 0 200px;
}

.intro-text > h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 43px;
  max-width: 450px;
}

.intro-text > p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--grayishBlue);
  max-width: 450px;
  margin: 20px 0 40px 0;
  line-height: 25px;
}

.chrome-btn {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: white;
  background-color: var(--softBlue);
  padding: 12px 20px;
  margin-right: 7px;
  border: 2px solid transparent;
  border-radius: 5px;
}

.chrome-btn:hover {
  color: var(--softBlue);
  background-color: white;
  border: 2px solid var(--softBlue);
}

.firefox-btn {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--veryDarkBlue);
  background-color: lightgrey;
  border: 2px solid transparent;
  padding: 12px 20px;
  border-radius: 5px;
}

.firefox-btn:hover {
  color: var(--veryDarkBlue);
  background-color: white;
  border: 2px solid var(--veryDarkBlue);
}

.intro-image {
  margin-right: 100px;
}

/* Sectrion 2  */
.features-section {
  text-align: center;
  padding-top: 70px;
}

.features-section > h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin-bottom: 20px;
}

.features-section > p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--grayishBlue);
  max-width: 480px;
  margin: 0 auto;
  line-height: 24px;
}

.features-list {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.f-btn {
  margin: 0 35px;
}

#features-selector-1 {
  color: var(--grayishBlue);
  padding-bottom: 15px;
  border-bottom: 1px solid grey;
}

#features-selector-1:hover {
  color: var(--softRed);
  cursor: pointer;
}

#features-selector-2 {
  color: var(--grayishBlue);
  padding-bottom: 15px;
  border-bottom: 1px solid grey;
}

#features-selector-2:hover {
  color: var(--softRed);
  cursor: pointer;
}

#features-selector-3 {
  color: var(--grayishBlue);
  padding-bottom: 15px;
  border-bottom: 1px solid grey;
}

#features-selector-3:hover {
  color: var(--softRed);
  cursor: pointer;
}

/*  Features Tab  */

.features-tab-btn {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: white;
  background-color: var(--softBlue);
  border: 2px solid transparent;
  padding: 12px 20px;
  border-radius: 5px;
}

.feature-tab-1 {
  display: flex;
  flex-direction: row;
}

.feature-tab-1-img {
  margin: 60px 0 0 200px;
}

.features-tab-text-1 {
  margin: 120px 0 0 120px;
  text-align: start;
}

.features-tab-text-1 > h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  max-width: 340px;
  margin-bottom: 25px;
}

.features-tab-text-1 > p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--grayishBlue);
  max-width: 400px;
  line-height: 24px;
  margin-bottom: 35px;
}

.feature-tab-2 {
  display: flex;
  flex-direction: row;
}

.feature-tab-2-img {
  margin: 60px 0 0 200px;
}

.features-tab-text-2 {
  margin: 120px 0 0 120px;
  text-align: start;
}

.features-tab-text-2 > h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  max-width: 340px;
  margin-bottom: 25px;
}

.features-tab-text-2 > p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--grayishBlue);
  max-width: 400px;
  line-height: 24px;
  margin-bottom: 35px;
}

.feature-tab-3 {
  display: flex;
  flex-direction: row;
}

.feature-tab-3-img {
  margin: 60px 0 0 200px;
}

.features-tab-text-3 {
  margin: 120px 0 0 120px;
  text-align: start;
}

.features-tab-text-3 > h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  max-width: 350px;
  margin-bottom: 25px;
}

.features-tab-text-3 > p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--grayishBlue);
  max-width: 400px;
  line-height: 24px;
  margin-bottom: 35px;
}

/* Section 3 */

.dots {
  padding: 35px 0;
}

.download-section {
  text-align: center;
  padding-top: 70px;
}

.download-section > h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin-bottom: 20px;
}

.download-section > p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--grayishBlue);
  max-width: 500px;
  margin: 0 auto;
  line-height: 24px;
}

.download-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chrome-download {
  max-width: 280px;
  padding: 35px 0;
  box-shadow: 0 2rem 1.1rem rgba(0, 0, 0, 0.14);
  border-radius: 10px;
}

.chrome-download > h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding-bottom: 10px;
}

.chrome-download > p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--grayishBlue);
}

.chrome-logo {
  padding-bottom: 15px;
}

.firefox-download {
  max-width: 280px;
  padding: 35px 0;
  margin: 60px 0 0 25px;
  box-shadow: 0 2rem 1.1rem rgba(0, 0, 0, 0.14);
  border-radius: 10px;
}

.firefox-download > h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding-bottom: 10px;
}

.firefox-download > p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--grayishBlue);
}

.firefox-logo {
  padding-bottom: 15px;
}

.opera-download {
  max-width: 280px;
  padding: 35px 0;
  margin: 120px 0 0 25px;
  box-shadow: 0 2rem 1.1rem rgba(0, 0, 0, 0.14);
  border-radius: 10px;
}

.opera-download > h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding-bottom: 10px;
}

.opera-download > p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--grayishBlue);
}

.opera-logo {
  padding-bottom: 15px;
}

.exP {
  padding: 12px 35px;
}

.exP:hover {
  color: var(--softBlue);
  background-color: white;
  border-color: var(--softBlue);
}

/* Section 4 */

.FAQ-section {
  padding-top: 130px;
}

.FAQ-section > h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.FAQ-section > p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--grayishBlue);
  max-width: 450px;
  margin: 0 auto;
  line-height: 24px;
  text-align: center;
}

.FAQ-questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
  margin: 0 auto;
  width: 35%;
}

hr {
  border: 1px solid lightgrey;
}

.question-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 15px 0;
}

.question-text:hover {
  color: var(--softRed);
  cursor: pointer;
}

.question-text > h4 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.A1 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--grayishBlue);
  max-width: 530px;
  padding: 10px 0 25px 0;
  line-height: 25px;
  display: none;
}

.A2 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--grayishBlue);
  max-width: 530px;
  padding: 10px 0 25px 0;
  line-height: 25px;
  display: none;
}

.A3 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--grayishBlue);
  max-width: 530px;
  padding: 10px 0 25px 0;
  line-height: 25px;
  display: none;
}

.A4 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--grayishBlue);
  max-width: 530px;
  padding: 10px 0 25px 0;
  line-height: 25px;
  display: none;
}

/* 
