@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

/*  font-family: 'Rubik', sans-serif; */

:root {
/*  Primary  */
  --softBlue: hsl(231, 69%, 60%);
  --softRed: hsl(0, 94%, 66%);

/*  Neutral  */
  --grayishBlue: hsl(229, 8%, 60%);
  --veryDarkBlue: hsl(229, 31%, 21%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

hr {
  border: 0.1rem solid lightgrey;
}

/*  Button Styling  */

.redBTN {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: white;
  background-color: var(--softRed);
  border: 0.2rem solid transparent; /* prevents hover state movement */
  border-radius: 0.5rem;
}

.redBTN:hover {
  color: var(--softRed);
  background-color: white;
  border: 0.2rem solid var(--softRed);
}

.blueBTN {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: white;
  background-color: var(--softBlue);
  border: 0.2rem solid transparent;
  border-radius: 0.5rem;
}

.blueBTNH:hover {
  color: var(--softBlue);
  background-color: white;
  border: 0.2rem solid var(--softBlue);
}

/*  HEADER  */

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.5rem 20rem;
}

#desktopNav {
  display: block;
}

#mobileNav {
  display: none;
  background-color: grey;
}

#openMobileMenu {
  display: none;
}

.nav-links {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links > li > a {
  color: var(--veryDarkBlue);
  margin: 0 2.5rem;
}

.nav-links > li > a:hover {
  color: var(--softRed);
}

.login-btn {
  padding: 0.8rem 3rem;
  margin-left: 2rem;
}

/*  Section 1  */
.main-intro-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 7rem 0 14rem 0;
}

.intro-text {
  padding: 8.5rem 0 0 20rem;
}

.intro-text > h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 4.3rem;
  max-width: 45rem;
}

.intro-text > p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--grayishBlue);
  max-width: 45rem;
  margin: 2rem 0 4rem 0;
  line-height: 2.5rem;
}

.chrome-btn {
  padding: 1.2rem 2rem;
  margin-right: 0.7rem;
}

.firefox-btn {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--veryDarkBlue);
  background-color: hsl(0, 0%, 97%); /* add box shadow */
  border: 0.2rem solid transparent;
  padding: 1.2rem 2rem;
  border-radius: 0.5rem;
}

.firefox-btn:hover {
  color: var(--veryDarkBlue);
  background-color: white;
  border: 0.2rem solid var(--veryDarkBlue);
}

.intro-image {
  position: relative;
  margin-right: 10rem;
}

.right-blue-bg {
  position: absolute;
  background-color: var(--softBlue);
  width: 80%;
/* width: 52.5rem;*/
  height: 40rem;
  top: 14rem;
  right: -10rem;
  z-index: -1;
  border-bottom-left-radius: 40%;
}

/*  Section 2  */
.features-section {
  text-align: center;
}

.features-section > h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin-bottom: 2rem;
}

.features-section > p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--grayishBlue);
  max-width: 45rem;
  margin: 0 auto;
  line-height: 2.4rem;
}

.features-list {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

#features-selector-1 {
  color: var(--veryDarkBlue);
  cursor: pointer;
}

#features-selector-1:hover {
  color: var(--softRed);
}

#features-selector-1::after {
  content: "";
  position: relative;
  display: block;
  background-color: var(--softRed);
  width: 21.4rem;
  height: 0.4rem;
  margin-top: 1.7rem;
}

/*#features-selector-1:hover::after {
  background-color: var(--softRed);
  height: 0.4rem;
}
*/

#features-selector-2 {
  color: var(--grayishBlue);
  cursor: pointer;
}

#features-selector-2:hover {
  color: var(--softRed);
}

#features-selector-2::after {
  content: "";
  position: relative;
  display: block;
  background-color: var(--grayishBlue);
  width: 21.4rem;
  height: 0.1rem;
  margin-top: 2rem;
}

/*#features-selector-2:hover::after {
  background-color: var(--softRed);
  height: 0.4rem;
  margin-top: 1.7rem;
}
*/

#features-selector-3 {
  color: var(--grayishBlue);
  cursor: pointer;
}

#features-selector-3:hover {
  color: var(--softRed);
}

#features-selector-3::after {
  content: "";
  position: relative;
  display: block;
  background-color: var(--grayishBlue);
  width: 21.4rem;
  height: 0.1rem;
  margin-top: 2rem;
}

/*#features-selector-3:hover::after {
  background-color: var(--softRed);
  height: 0.4rem;
  margin-top: 1.7rem;
}
*/

/*  Features Tab  */
.features-tab-btn {
  padding: 1.2rem 2.2rem;
}

.feature-tab-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 6rem 0 15rem 0;
}

.features-tab-text-1 {
  margin: 6rem 0 0 10rem;
  text-align: start;
}

.features-tab-text-1 > h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  max-width: 34rem;
  margin-bottom: 2.5rem;
}

.features-tab-text-1 > p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--grayishBlue);
  max-width: 40rem;
  margin-bottom: 4.5rem;
  line-height: 2.4rem;
}

.feature-tab-2 {
  position: relative;
  display: none;
  flex-direction: row;
  justify-content: center;
  padding: 6rem 0 10rem 0;
}

.features-tab-text-2 {
  margin: 6rem 0 0 10rem;
  text-align: start;
}

.features-tab-text-2 > h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  max-width: 34rem;
  margin-bottom: 2.5rem;
}

.features-tab-text-2 > p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--grayishBlue);
  max-width: 37rem;
  margin-bottom: 3.5rem;
  line-height: 2.4rem;
}

.feature-tab-3 {
  position: relative;
  display: none;
  flex-direction: row;
  justify-content: center;
  padding: 6rem 0 10rem 0;
}

.features-tab-text-3 {
  margin: 6rem 0 0 10rem;
  text-align: start;
}

.features-tab-text-3 > h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  max-width: 34rem;
  margin-bottom: 2.5rem;
}

.features-tab-text-3 > p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--grayishBlue);
  max-width: 36rem;
  margin-bottom: 4.5rem;
  line-height: 2.4rem;
}

.left-blue-bg {
  position: absolute;
  background-color: var(--softBlue);
  width: 44%;
/* width: 52.5rem;*/
  height: 38rem;
  top: 14rem;
  left: 0;
  z-index: -1;
  border-bottom-right-radius: 30%;
  border-top-right-radius: 40%;
}

/* Section 3 */
.dots {
  padding: 3.5rem 0;
}

.download-section {
  text-align: center;
  padding-top: 7rem;
}

.download-section > h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin-bottom: 2rem;
}

.download-section > p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--grayishBlue);
  max-width: 50rem;
  margin: 0 auto;
  line-height: 2.4rem;
}

.download-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chrome-download {
  max-width: 28rem;
  padding: 3.5rem 0;
  border-radius: 1rem;
  box-shadow: 0 1rem 1.1rem rgba(0, 0, 0, 0.14);
}

.chrome-download > h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding-bottom: 1rem;
}

.chrome-download > p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;

  color: var(--grayishBlue);
}

.chrome-logo {
  padding-bottom: 1.5rem;
}

.firefox-download {
  max-width: 28rem;
  padding: 3.5rem 0;
  margin: 6rem 0 0 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 1.1rem rgba(0, 0, 0, 0.14);
}

.firefox-download > h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding-bottom: 1rem;
}

.firefox-download > p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;

  color: var(--grayishBlue);
}

.firefox-logo {
  padding-bottom: 1.5rem;
}

.opera-download {
  max-width: 28rem;
  padding: 3.5rem 0;
  margin: 12rem 0 0 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 1.1rem rgba(0, 0, 0, 0.14);
}

.opera-download > h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding-bottom: 1rem;
}

.opera-download > p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--grayishBlue);
}

.opera-logo {
  padding-bottom: 1.5rem;
}

.install-btn {
  padding: 1.2rem 3.5rem;
}

/* Section 4 */
.FAQ-section {
  padding: 15rem 0 6rem 0;
}

.FAQ-section > h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
}

.FAQ-section > p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--grayishBlue);
  max-width: 45rem;
  margin: 0 auto;
  line-height: 2.4rem;
  text-align: center;
}

.FAQ-questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  padding-top: 4rem;
  margin: 0 auto;
}

.question-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem 1.5rem 0;
}

.question-text:hover {
  color: var(--softRed);
  cursor: pointer;
}

.question-text > h4 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.A1 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--grayishBlue);
  display: none;
  max-width: 53rem;
  padding: 1rem 0 2.5rem 0;
  line-height: 2.5rem;
}

.A2 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--grayishBlue);
  display: none;
  max-width: 53rem;
  padding: 1rem 0 2.5rem 0;
  line-height: 2.5rem;
}

.A3 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--grayishBlue);
  display: none;
  max-width: 53rem;
  padding: 1rem 0 2.5rem 0;
  line-height: 2.5rem;
}

.A4 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--grayishBlue);
  display: none;
  max-width: 53rem;
  padding: 1rem 0 2.5rem 0;
  line-height: 2.5rem;
}

.mInfo {
  padding: 1.2rem 2.2rem;
  margin: 5rem auto;
}

/* Section 5 */
.email-signup-section {
  display: flex;
  flex-direction: column;
  background-color: hsl(231, 69%, 60%);
  padding: 7rem 0;
}

.email-signup-section > h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: white;
  max-width: 45rem;
  padding-bottom: 4rem;
  margin: 0 auto;
  text-align: center;
}

.email-signup-section > h5 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: white;
  padding-bottom: 2.5rem;
  margin: 0 auto;
  letter-spacing: 0.45rem;
}

.sign-up {
  display: flex;
  margin: 0 auto;
}

.email-input {
  color: var(--grayishBlue);
  background-color: white;
  font-size: 1.4rem;
  width: 30rem;
  padding: 1.3rem 2rem;
  border: none;
  border-radius: 0.5rem;
}

.contact-btn {
  padding: 1.3rem 2rem;
  margin-left: 2rem;
}

/* Footer */
footer {
  background-color: hsl(231, 32%, 21%);
  padding: 2.7rem 20rem;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.lh {
  display: flex;
  align-items: center;
}

.footer-logo {
  margin-right: 4rem;
}

.footer-links {
  display: flex;
  flex-direction: row;
}

.footer-links > li {
  padding: 0 3rem;
}

.footer-links > li > a {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: white;
  letter-spacing: 0.1rem;
}

.footer-links > li > a:hover {
  color: var(--softRed);
}

.social-links > a > img {
  padding: 0 2rem;
  align-items: center;
}

@media only screen and (max-width: 950px) {
/*  HEADER  */
  .header-nav {
    padding: 5rem 7%;
  }

  #desktopNav {
    display: none;
  }

  #mobileNav {
    position: absolute;
    background-color: black;
    opacity: 0.85;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  #openMobileMenu {
    display: block;
    cursor: pointer;
  }

  #closeMobileMenu {
    cursor: pointer;
  }

  .mobile-top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 7%;
  }

  .mobile-nav-links > li > a {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5rem auto;
    letter-spacing: 0.4rem;
  }

  .mobile-nav-links > hr {
    width: 85%;
    margin: 1rem auto;
    border: 0.1rem solid darkgrey;
    opacity: 0.2;
  }

  .mobile-login-btn {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 1.5rem 0;
    margin: 3.5rem auto;
    border: 3px solid white;
    border-radius: 0.7rem;
    letter-spacing: 0.4rem;
  }

  .mobile-social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20rem;
  }

  .mobile-social-links > a {
    margin: 0 2rem;
  }

/*  Section 1  */
  .main-intro-section {
    flex-direction: column-reverse;
    margin: 0 auto;
  }

  .intro-text {
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }

  .intro-text > h1 {
    font-size: 3.4rem;
  }

  .intro-text > p {
    width: 30rem;
    padding: 2rem 0 4rem 0;
    margin: 0 auto;
  }

  .intro-image {
    margin: 2rem;
  }

  .intro-svg {
    max-width: 55rem;
  }

  .right-blue-bg {
    height: 80%;
    top: 6rem;
    right: -10rem;
  }

  .chrome-btn {
    padding: 1.2rem 1.5rem;
  }

  .firefox-btn {
    padding: 1.2rem 1.5rem;
  }
/*  Section 2  */

  .features-section > h2 {
    margin: 15rem auto 2rem auto;
  }

  .features-section > p {
    max-width: 31rem;
  }

  .features-list {
    flex-direction: column;
  }

/*  Features Tab  */
  .features-tab-btn {
    display: flex;
  }

  .feature-tab-1 {
    padding: 6rem 0 10rem 0;
    flex-direction: column;
  }

  .features-tab-text-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8rem 0 0 0;
  }

  .features-tab-text-1 > h1 {
    margin-bottom: 1.5rem;
  }

  .features-tab-text-1 > p {
    max-width: 31rem;
    text-align: center;
  }

  .feature-tab-2 {
    padding: 6rem 0 10rem 0;
    flex-direction: column;
  }

  .features-tab-text-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8rem 0 0 0;
  }

  .features-tab-text-2 > h1 {
    margin-bottom: 1.5rem;
  }

  .features-tab-text-2 > p {
    max-width: 31rem;
    text-align: center;
  }

  .feature-tab-3 {
    padding: 6rem 0 10rem 0;
    flex-direction: column;
  }

  .features-tab-text-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8rem 0 0 0;
  }

  .features-tab-text-3 > h1 {
    margin-bottom: 1.5rem;
  }

  .features-tab-text-3 > p {
    max-width: 31rem;
    text-align: center;
  }

/*  Section 3  */
  .download-section > p {
    max-width: 30rem;
  }

  .download-boxes {
    flex-wrap: wrap;
  }

  .chrome-download {
    margin: 5rem auto;
  }

  .firefox-download {
    margin: 0 auto;
  }

  .opera-download {
    margin: 5rem auto;
  }

/* Section 4 */
  .FAQ-section {
    padding: 5rem 0 6rem 0;
  }

  .FAQ-section > h2 {
    width: 30rem;
    margin: 0 auto;
    padding-bottom: 2rem;
  }

  .FAQ-section > p {
    max-width: 30rem;
    margin: 0 auto;
  }

  .FAQ-questions {
    width: 80%;
  }

  .sign-up {
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .email-input {
    width: 100%;
    padding: 1.5rem 2rem;
    margin: 0 auto 2rem auto;
  }

  .contact-btn {
    text-align: center;
    width: 100%;
    margin: 0;
  }

/* Footer */
  footer {
    background-color: hsl(231, 32%, 21%);
    padding: 4rem 0;
  }

  .footer-nav {
    flex-direction: column;
  }

  .lh {
    flex-direction: column;
  }

  .footer-logo {
    margin: 0;
  }

  .footer-links {
    flex-direction: column;
    text-align: center;
  }

  .footer-links > li {
    margin-top: 3rem;
  }

  .social-links {
    padding: 5rem 0 0 0;
  }
}
